:root, html[targetTheme="light"] {
--bg-color: lightgray;
--th-color: #bde9f7;
--td-color: #def2f9;
--link-color: #339e70;
--mainText-color: #2c3e50;
--p--color: #000000;
--span--color: #212121;
}
html[targetTheme="dark"] {
	--bg-color: rgb(50, 50, 50);
	--th-color: #0e2b34;
	--td-color: #113c4b;
	--link-color: #339e70;
	--mainText-color: #b7b7b7;
	--p--color: #b7b7b7;
	--span--color: #bebebe;
	}
body {
	background-color: var(--bg-color);
}
#app {
	font-family: Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: x-large;
	background-color: var(--bg-color);
	color: var(--mainText-color);
	text-align: center;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
a {
  color: var(--link-color);
}
.v-application--wrap {
	min-height: 100% !important;
}
.forDataTable {
	background-color: var(--td-color) !important;
	thead {
		tr:not(.v-data-table__progress) {
			th {
				font-size: 20px !important;
				text-align: center !important;
				// 要加important fixed-header會刷掉bgcolor
				background-color: var(--th-color) !important;
				border: 1px solid;
			}
		}
	}
	tbody {
		tr {
			background-color: var(--td-color);
		}
		td {
			font-size: 18px !important;
			border: 1px solid;
			white-space: nowrap;
		}
	}
}
.talign-start {
	text-align: start;
}
