$bg-color: lightgray;
$th-color: #bde9f7;
$td-color: #def2f9;
$link-color: #339e70;
$mainText-color: #2c3e50;
$primary: #1976d2;

body {
    background-color: $bg-color;
}
#app {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: x-large;
    background-color: $bg-color;
    color: #2c3e50;
    text-align: center;
}
a {
  color: $link-color;
}
.v-application--wrap {
    min-height: 100% !important;
}
.forDataTable {
    background-color: $td-color !important;
    thead {
        tr:not(.v-data-table__progress) {
            th {
                font-size: 20px !important;
                text-align: center !important;
                // 要加important fixed-header會刷掉bgcolor
                background-color: $th-color !important;
                border: 1px solid;
            }
        }
    }
    tbody {
        tr {
            background-color: $td-color;
        }
        td {
            font-size: 18px !important;
            border: 1px solid;
        }
    }
}

.talign-start {
    text-align: start;
}